$background-darkblue: #133654;
$background-lightblue: #0057ff;
$background-darkgreen: #13544e;
$background-lightgreen: hsla(143.90243902439025, 60.59%, 39.8%, 0.04);
$background-lightgrey: hsla(0, 0%, 0%, 0.4);
$border-lightgrey: hsla(0, 0%, 0%, 0.4);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-lightgrey: hsla(0, 0%, 0%, 0.4);
$border-black: rgb(0, 0, 0);
$color-darkred: hsla(346.94117647058823, 73.91%, 45.1%, 1);
$background-lightred: hsla(346.94117647058823, 73.91%, 45.1%, 0.04);
$color-lightgreen: hsla(143.90243902439025, 60.59%, 39.8%, 1);
$border-lightgreen: hsla(143.90243902439025, 60.59%, 39.8%, 1);
$color-lightblue: #0057ff;
$background-paleblue: hsla(219.52941176470586, 100%, 50%, 0.04);
$border-paleblue: hsla(219.52941176470586, 100%, 50%, 0.2);
$background-palegrey: hsla(0, 0%, 0%, 0.04);
$color-palewhite: rgba(255, 255, 255, 0.4);
$border-palegrey: hsla(0, 0%, 0%, 0.04);
